/* Enter your custom styles here */

.line-md--download-outline-loop {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='14' stroke-dashoffset='14' d='M6 19h12'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.5s' dur='0.4s' values='14;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='18' stroke-dashoffset='18' d='M12 4 h2 v6 h2.5 L12 14.5M12 4 h-2 v6 h-2.5 L12 14.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.4s' values='18;0'/%3E%3Canimate attributeName='d' calcMode='linear' dur='1.5s' keyTimes='0;0.7;1' repeatCount='indefinite' values='M12 4 h2 v6 h2.5 L12 14.5M12 4 h-2 v6 h-2.5 L12 14.5;M12 4 h2 v3 h2.5 L12 11.5M12 4 h-2 v3 h-2.5 L12 11.5;M12 4 h2 v6 h2.5 L12 14.5M12 4 h-2 v6 h-2.5 L12 14.5'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .hbox{
    margin-left: 50%;
}
.pages {

  background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
}
.sapUiResponsiveContentPadding{
  background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
}

.dialobox{
  padding-left: 50%;
}
.nav{
  min-height: 5.55rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: changeBackground1  50s infinite;
}

@keyframes changeBackground1 {
 
  0% {
    background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
   
  }
  25% {
   
    background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
  }
  50% {
    background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
  }
  75% {
    background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
  }
  100% {
    background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
}
} 


/* .nav{
background-image: linear-gradient(135deg, #ffe7ba, #fed6e3, #a8edea);
} */


.popOverClass{
margin-top: 4%;

height: 20%;
}